html, body{
    margin: 0px;
    background: #000;
    font-size: 14px;
    font-family:Verdana, Arial, Helvetica, sans-serif;
}


#main{
    position: absolute;
    width: 640px;
    height: 100%;
    overflow: hidden;
}
#container {
    position: absolute;
    width: 100%;
    height: 100%;
}
#title{
    position: absolute;
    left: 50%;
    top: 25px;
    margin: 0 0 0 -201px;
}
#logo{
    position: absolute;
    left: 50%;
    bottom: 25px;
    margin: 0 0 0 -94px;
}
#muteOn{
    position: absolute;
    right: 10px;
    bottom: 10px;
    cursor: pointer;
    display: block;
}
#muteOff{
    position: absolute;
    right: 10px;
    bottom: 10px;
    cursor: pointer;
    display: none;
}


#no{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    opacity: 0;
    display: none;
}
#no .bg{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
}
#no .light{
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -320px 0 0 -138px;
}
#no .txt{
    position: absolute;
    left: 50%;
    top: 50%;
    margin: 80px 0 0 -225px;
}


#loading{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
}
#loading .bg{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #db0028;
    opacity: 1;
}
#loading .pic{
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -92px 0 0 -60px;
}
#loading .txt{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 500px;
    height: 20px;
    font-size: 20px;
    line-height: 20px;
    margin: 90px 0 0 -250px;
    color: #f9bc51;
    text-align: center;
}


#share{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    opacity: 0;
    display: none;
}
#share .bg{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #db0028;
    opacity: 0.9;
}
#share .txt1{
    position: absolute;
    top: 10px;
    right: 45px;
}
#share .txt2{
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -176px 0 0 -144px;
}


#txt1{
    position: absolute;
    bottom: 250px;
    left: 50%;
    margin: 0 0 0 -104px;
    opacity: 0;
    display: none;
}
#txt2{
    position: absolute;
    bottom: 300px;
    left: 50%;
    margin: 0 0 0 -158px;
    opacity: 0;
    display: none;
}
#txt3{
    position: absolute;
    top: 70px;
    left: 50%;
    margin: 0 0 0 -116px;
    opacity: 0;
    display: none;
}
#txt4{
    position: absolute;
    bottom: 300px;
    left: 50%;
    margin: 0 0 0 -155px;
    opacity: 0;
    display: none;
}
#txt5{
    position: absolute;
    top: 70px;
    left: 50%;
    margin: 0 0 0 -147px;
    opacity: 0;
    display: none;
}
#btnShare{
    position: absolute;
    bottom: 100px;
    left: 50%;
    margin: 0 0 0 -82px;
    opacity: 0;
    display: none;
}
#btnShare2{
    position: absolute;
    bottom: 100px;
    left: 50%;
    margin: 0 0 0 -82px;
    opacity: 0;
    display: none;
}


#bgm{
    position: absolute;
    display: none;
}

#canvas{
    position: absolute;
    display: none;
}

#wx{
    position: absolute;
    display: none;
}
