html, body {
    position: relative;
    height: 100%;
}
body {
    background: #2e2f3d;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:#000;
    margin: 0;
    padding: 0;
}
.swiper-container {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #2e2f3d url(../images/arrow-u.png) bottom no-repeat;
	background-size: 8%;
    /* Center slide text vertically */
/*    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;*/
}
.swiper-pagination-bullet-active{
	background: #A7A3A4;
}
.slide img{display: block;}
.slide1 .all{
	width: 100%;
	height: 100%;
	background: url(../images/banner-m.jpg) center no-repeat;
	background-size: 100%;
}
.slide2 .mL{
	width: 70%;
	height: 50%;
	background: url(../images/me-2-1.jpg) bottom no-repeat;
	background-size: 100%;
	margin-left: 15%;
}
.slide2 .mR{
	width: 70%;
	height: 40%;
	background: url(../images/me-2-2.jpg) top no-repeat;
	background-size: 100%;
	margin-left: 15%;
	margin-top: 8%;
}
.slide3 .mL{
	width: 90%;
	height: 50%;
	background: url(../images/me-3-1.jpg) bottom no-repeat;
	background-size: 100%;
	margin-left: 5%;
}
.slide3 .mR{
	width: 90%;
	height: 40%;
	background: url(../images/me-3-2.jpg) top no-repeat;
	background-size: 100%;
	margin-left: 5%;
	margin-top: 8%;
}
.slide4 img{
	width: 100%;
	display: block;
}
.slide4{
	opacity: 0;
}
.slide4 .slide-4-1{
	/*margin-top: 33%;*/
}
.slide4 .slide-4-2{
	margin-top: 7%;
}
.slide4 .slide-4-3{
	margin-top: 7%;
}

.slide5 img{
	width: 94%;
	display: block;
	margin-left: 3%;
}
.slide5 .slide-5-1{
	/*margin-top: 33%;*/
}
.slide5 .slide-5-2{
	margin-top: 7%;
}
.slide5 .slide-5-3{
	margin-top: 7%;
}
.slide6 .slide-6-1{
	width: 70%;
	/*margin-top: 15%;*/
}
.slide6 .slide-6-2{
	margin-top: 7%;
	width: 50%;
	margin-left: 3%;
}
.slide6 .slide-6-3{
	margin-top: -7%;
	width: 50%;
	margin-right: 3%;
}
.slide7 img{
	width: 50%;
}
.slide7 .slide-7-1{
	/*margin-top: 15%;*/
	margin-left: 3%;
}
.slide7 .slide-7-2{
	margin-top: -7%;
	margin-right: 3%;
}
.slide7 .slide-7-3{
	margin-top: -7%;
	margin-left: 3%;
}
.slide8 .slide-8-1{
	/*margin-top: 15%;*/
	width: 86%;
}
.slide8 .slide-8-2{
	padding-top: 7%;
	width: 90%;
}


/* 留言资讯 */
.slide9 .askFormBox .name{
	font-size: 0;
}
.slide9 .askFormBox h1{
	color: #fff;
	font-family: 'Microsoft yahei';
	text-align: left;
	font-size: 1.8rem;
	margin: 5% 0 0 4%;
}
.slide9 .askFormBox .name{
	font-size: 0;
	margin-top: 5%;
	text-align: left;
	margin-left: 4%;
}
.slide9 .askFormBox .name input{
	font-size: 1.2rem;
	padding: 5px;
	text-align: left;
	font-family: 'Microsoft yahei';
}
.slide9 .askFormBox .name input.nm{
	width: 26%;
}
.slide9 .askFormBox .name input.ct{
	width: 57%;
	margin-left: 3%;
}
.slide9 .askFormBox .msg{
	margin-top: 3%;
	text-align: left;
	margin-left: 4%;
}
.slide9 .askFormBox .msg textarea{
	width: 90%;
    /*height: 40%;*/
    padding: 5px;
    resize: none;
    border: 1px solid #bcc1cd;
    background: #fff;
    font-size: 1.2rem;
    font-family: 'Microsoft yahei';
}
.slide9 .askFormBox .submit{
	margin-top: 4%;
	text-align: left;
	margin-left: 4%;
}
.slide9 .askFormBox .submit input{
	background: #FF7800;
	color: #fff;
	font-size: 1.2rem;
	font-family: 'Microsoft yahei';
	padding: 7px 28px;
	border-radius: 4px;
}
.slide9 .service-way div{
	text-align: left;
}
.slide9 .service-way p{
	color: #fff;
	font-size: 1.4rem;
	text-align: left;
	font-family: 'Microsoft yahei';
}
.slide9 .service-way .blue-num{
	color: #0074ff;
	font-weight: bold;
	font-size: 2.8rem;
	font-family: 'Microsoft yahei';
}
.slide9 .service-way .qq{
	margin: 4%;
	border-top: 1px solid #435166;
	padding-top: 4%;
}
.slide9 .service-way .hotLine{
	margin: 4% 4% 3%;
}
.slide9 .service-way .hotLine p{
	background: url(../images/hotline.png) left no-repeat;
	background-size: 7%;
	padding-left: 8%;
}
.slide9 .service-way .qq p{
	background: url(../images/qq.png) left no-repeat;
	background-size: 7%;
	padding-left: 8%;
}
.popUp{
	position: absolute;
	width: 80%;
	left: 10%;
	height: 50%;
	top: 20%;
	background: #FF7800;
	border-radius: 20px;
	z-index: 2;
	display: none;
}
.popUp p{
	margin-top: 25%;
	color: #fff;
	font-family: 'Microsoft yahei';
	font-weight: 1.2rem;
	text-align: center;
	width: 70%;
	margin-left: 15%;
}
.popUp .close{
	text-align: center;
	margin-top: 20%;
}
.popUp input{
	font-size: 1.2rem;
	color: #fff;
	background: #2B85E9;
	padding: 10px 30px;
	border-radius: 5px;
}
.board{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: #000;
	opacity: 0.5;
	z-index: 1;
	display: none;
}

/* animate */
.slide2.animation .mR,.slide3.animation .mR{
	animation:fadeInRight 0.7s 0s ease both;
	-webkit-animation:fadeInRight 0.7s 0s ease both;
	-moz-animation:fadeInRight 0.7s 0s ease both;
	-o-animation:fadeInRight 0.7s 0s ease both;
}
@keyframes fadeInRight{
	0%{
		opacity:0;
		transform:translateX(360px);
		-webkit-transform:translateX(360px);
		-ms-transform:translateX(360px);
		-moz-transform:translateX(360px);
		-o-transform:translateX(360px);
	}
	50%{
		opacity:0.5;
		transform:translateX(-30px);
		-webkit-transform:translateX(-30px);
		-moz-transform:translateX(-30px);
		-ms-transform:translateX(-30px);
		-o-transform:translateX(-30px);
	}
	100%{
		opacity:1;
		transform:translateX(0);
		-webkit-transform:translateX(0);
		-moz-transform:translateX(0);
		-o-transform:translateX(0);
		-ms-transform:translateX(0);
	}
}
@-webkit-keyframes fadeInRight{
	0%{
		opacity:0;
		transform:translateX(360px);
		-webkit-transform:translateX(360px);
		-ms-transform:translateX(360px);
		-moz-transform:translateX(360px);
		-o-transform:translateX(360px);
	}
	50%{
		opacity:0.5;
		transform:translateX(-30px);
		-webkit-transform:translateX(-30px);
		-moz-transform:translateX(-30px);
		-ms-transform:translateX(-30px);
		-o-transform:translateX(-30px);
	}
	100%{
		opacity:1;
		transform:translateX(0);
		-webkit-transform:translateX(0);
		-moz-transform:translateX(0);
		-o-transform:translateX(0);
		-ms-transform:translateX(0);
	}
}
@-moz-keyframes fadeInRight{
	0%{
		opacity:0;
		transform:translateX(360px);
		-webkit-transform:translateX(360px);
		-ms-transform:translateX(360px);
		-moz-transform:translateX(360px);
		-o-transform:translateX(360px);
	}
	50%{
		opacity:0.5;
		transform:translateX(-30px);
		-webkit-transform:translateX(-30px);
		-moz-transform:translateX(-30px);
		-ms-transform:translateX(-30px);
		-o-transform:translateX(-30px);
	}
	100%{
		opacity:1;
		transform:translateX(0);
		-webkit-transform:translateX(0);
		-moz-transform:translateX(0);
		-o-transform:translateX(0);
		-ms-transform:translateX(0);
	}
}
@-o-keyframes fadeInRight{
	0%{
		opacity:0;
		transform:translateX(360px);
		-webkit-transform:translateX(360px);
		-ms-transform:translateX(360px);
		-moz-transform:translateX(360px);
		-o-transform:translateX(360px);
	}
	50%{
		opacity:0.5;
		transform:translateX(-30px);
		-webkit-transform:translateX(-30px);
		-moz-transform:translateX(-30px);
		-ms-transform:translateX(-30px);
		-o-transform:translateX(-30px);
	}
	100%{
		opacity:1;
		transform:translateX(0);
		-webkit-transform:translateX(0);
		-moz-transform:translateX(0);
		-o-transform:translateX(0);
		-ms-transform:translateX(0);
	}
}

.slide2.animation .mL,.slide3.animation .mL,.slide1.animation .all{
	animation:fadeInLeft 0.7s 0s ease both;
	-webkit-animation:fadeInLeft 0.7s 0s ease both;
	-moz-animation:fadeInLeft 0.7s 0s ease both;
	-o-animation:fadeInLeft 0.7s 0s ease both;
}
@keyframes fadeInLeft{
	0%{
		opacity:0;
		transform:translateX(-360px);
		-webkit-transform:translateX(-360px);
		-moz-transform:translateX(-360px);
		-o-transform:translateX(-360px);
		-ms-transform:translateX(-360px);
	}
	50%{
		opacity:0.5;
		transform:translateX(30px);
		-webkit-transform:translateX(30px);
		-moz-transform:translateX(30px);
		-o-transform:translateX(30px);
		-ms-transform:translateX(30px);
	}
	100%{
		opacity:1;
		transform:translateX(0);
		-webkit-transform:translateX(0);
		-moz-transform:translateX(0);
		-o-transform:translateX(0);
		-ms-transform:translateX(0);
	}
}
@-webkit-keyframes fadeInLeft{
	0%{
		opacity:0;
		transform:translateX(-360px);
		-webkit-transform:translateX(-360px);
		-moz-transform:translateX(-360px);
		-o-transform:translateX(-360px);
		-ms-transform:translateX(-360px);
	}
	50%{
		opacity:0.5;
		transform:translateX(30px);
		-webkit-transform:translateX(30px);
		-moz-transform:translateX(30px);
		-o-transform:translateX(30px);
		-ms-transform:translateX(30px);
	}
	100%{
		opacity:1;
		transform:translateX(0);
		-webkit-transform:translateX(0);
		-moz-transform:translateX(0);
		-o-transform:translateX(0);
		-ms-transform:translateX(0);
	}
}
@-moz-keyframes fadeInLeft{
	0%{
		opacity:0;
		transform:translateX(-360px);
		-webkit-transform:translateX(-360px);
		-moz-transform:translateX(-360px);
		-o-transform:translateX(-360px);
		-ms-transform:translateX(-360px);
	}
	50%{
		opacity:0.5;
		transform:translateX(30px);
		-webkit-transform:translateX(30px);
		-moz-transform:translateX(30px);
		-o-transform:translateX(30px);
		-ms-transform:translateX(30px);
	}
	100%{
		opacity:1;
		transform:translateX(0);
		-webkit-transform:translateX(0);
		-moz-transform:translateX(0);
		-o-transform:translateX(0);
		-ms-transform:translateX(0);
	}
}
@-o-keyframes fadeInLeft{
	0%{
		opacity:0;
		transform:translateX(-360px);
		-webkit-transform:translateX(-360px);
		-moz-transform:translateX(-360px);
		-o-transform:translateX(-360px);
		-ms-transform:translateX(-360px);
	}
	50%{
		opacity:0.5;
		transform:translateX(30px);
		-webkit-transform:translateX(30px);
		-moz-transform:translateX(30px);
		-o-transform:translateX(30px);
		-ms-transform:translateX(30px);
	}
	100%{
		opacity:1;
		transform:translateX(0);
		-webkit-transform:translateX(0);
		-moz-transform:translateX(0);
		-o-transform:translateX(0);
		-ms-transform:translateX(0);
	}
}

.m567-right{
	animation:moveRight 0.6s .7s ease both;
	-webkit-animation:moveRight 0.6s .7s ease both;
	-moz-animation:moveRight 0.6s .7s ease both;
	-o-animation:moveRight 0.6s .7s ease both;
}
@keyframes moveRight{
	0%{
		opacity:0;
		transform:translateX(360px);
		-webkit-transform:translateX(360px);
		-moz-transform:translateX(360px);
		-o-transform:translateX(360px);
		-ms-transform:translateX(360px);
	}
	50%{
		opacity:0.5;
		transform:translateX(-30px);
		-webkit-transform:translateX(-30px);
		-moz-transform:translateX(-30px);
		-o-transform:translateX(-30px);
		-ms-transform:translateX(-30px);
	}
	100%{
		opacity:1;
		transform:translateX(0);
		-webkit-transform:translateX(0);
		-moz-transform:translateX(0);
		-o-transform:translateX(0);
		-ms-transform:translateX(0);
	}
}
@-webkit-keyframes moveRight{
	0%{
		opacity:0;
		transform:translateX(360px);
		-webkit-transform:translateX(360px);
		-moz-transform:translateX(360px);
		-o-transform:translateX(360px);
		-ms-transform:translateX(360px);
	}
	50%{
		opacity:0.5;
		transform:translateX(-30px);
		-webkit-transform:translateX(-30px);
		-moz-transform:translateX(-30px);
		-o-transform:translateX(-30px);
		-ms-transform:translateX(-30px);
	}
	100%{
		opacity:1;
		transform:translateX(0);
		-webkit-transform:translateX(0);
		-moz-transform:translateX(0);
		-o-transform:translateX(0);
		-ms-transform:translateX(0);
	}
}
@-moz-keyframes moveRight{
	0%{
		opacity:0;
		transform:translateX(360px);
		-webkit-transform:translateX(360px);
		-moz-transform:translateX(360px);
		-o-transform:translateX(360px);
		-ms-transform:translateX(360px);
	}
	50%{
		opacity:0.5;
		transform:translateX(-30px);
		-webkit-transform:translateX(-30px);
		-moz-transform:translateX(-30px);
		-o-transform:translateX(-30px);
		-ms-transform:translateX(-30px);
	}
	100%{
		opacity:1;
		transform:translateX(0);
		-webkit-transform:translateX(0);
		-moz-transform:translateX(0);
		-o-transform:translateX(0);
		-ms-transform:translateX(0);
	}
}
@-o-keyframes moveRight{
	0%{
		opacity:0;
		transform:translateX(360px);
		-webkit-transform:translateX(360px);
		-moz-transform:translateX(360px);
		-o-transform:translateX(360px);
		-ms-transform:translateX(360px);
	}
	50%{
		opacity:0.5;
		transform:translateX(-30px);
		-webkit-transform:translateX(-30px);
		-moz-transform:translateX(-30px);
		-o-transform:translateX(-30px);
		-ms-transform:translateX(-30px);
	}
	100%{
		opacity:1;
		transform:translateX(0);
		-webkit-transform:translateX(0);
		-moz-transform:translateX(0);
		-o-transform:translateX(0);
		-ms-transform:translateX(0);
	}
}

.m567-left{
	animation:moveLeft 0.6s .3s ease both;
	-webkit-animation:moveLeft 0.6s .3s ease both;
	-moz-animation:moveLeft 0.6s .3s ease both;
	-o-animation:moveLeft 0.6s .3s ease both;
}
@keyframes moveLeft{
	0%{
		opacity:0;
		transform:translateX(-360px);
		-webkit-transform:translateX(-360px);
		-moz-transform:translateX(-360px);
		-o-transform:translateX(-360px);
		-ms-transform:translateX(-360px);
	}
	50%{
		opacity:0.5;
		transform:translateX(30px);
		-webkit-transform:translateX(30px);
		-moz-transform:translateX(30px);
		-o-transform:translateX(30px);
		-ms-transform:translateX(30px);
	}
	100%{
		opacity:1;
		transform:translateX(0);
		-webkit-transform:translateX(0);
		-moz-transform:translateX(0);
		-o-transform:translateX(0);
		-ms-transform:translateX(0);
	}
}
@-webkit-keyframes moveLeft{
	0%{
		opacity:0;
		transform:translateX(-360px);
		-webkit-transform:translateX(-360px);
		-moz-transform:translateX(-360px);
		-o-transform:translateX(-360px);
		-ms-transform:translateX(-360px);
	}
	50%{
		opacity:0.5;
		transform:translateX(30px);
		-webkit-transform:translateX(30px);
		-moz-transform:translateX(30px);
		-o-transform:translateX(30px);
		-ms-transform:translateX(30px);
	}
	100%{
		opacity:1;
		transform:translateX(0);
		-webkit-transform:translateX(0);
		-moz-transform:translateX(0);
		-o-transform:translateX(0);
		-ms-transform:translateX(0);
	}
}
@-moz-keyframes moveLeft{
	0%{
		opacity:0;
		transform:translateX(-360px);
		-webkit-transform:translateX(-360px);
		-moz-transform:translateX(-360px);
		-o-transform:translateX(-360px);
		-ms-transform:translateX(-360px);
	}
	50%{
		opacity:0.5;
		transform:translateX(30px);
		-webkit-transform:translateX(30px);
		-moz-transform:translateX(30px);
		-o-transform:translateX(30px);
		-ms-transform:translateX(30px);
	}
	100%{
		opacity:1;
		transform:translateX(0);
		-webkit-transform:translateX(0);
		-moz-transform:translateX(0);
		-o-transform:translateX(0);
		-ms-transform:translateX(0);
	}
}
@-o-keyframes moveLeft{
	0%{
		opacity:0;
		transform:translateX(-360px);
		-webkit-transform:translateX(-360px);
		-moz-transform:translateX(-360px);
		-o-transform:translateX(-360px);
		-ms-transform:translateX(-360px);
	}
	50%{
		opacity:0.5;
		transform:translateX(30px);
		-webkit-transform:translateX(30px);
		-moz-transform:translateX(30px);
		-o-transform:translateX(30px);
		-ms-transform:translateX(30px);
	}
	100%{
		opacity:1;
		transform:translateX(0);
		-webkit-transform:translateX(0);
		-moz-transform:translateX(0);
		-o-transform:translateX(0);
		-ms-transform:translateX(0);
	}
}


@media screen and (max-width: 351px){
	.slide9 .service-way .blue-num{
		font-size: 2rem;
	}
	.slide9 .service-way p{
		font-size: 1.3rem;
	}
	.slide9 .askFormBox h1{
		font-size: 1.5rem;
		margin: 4% 0 0 4%;
	}
	.slide9 .service-way .hotLine,.slide9 .service-way .qq{
		margin: 3% 4% 0;
	}
	.slide9 .service-way .qq{
		padding-top: 3%;
	}
}
@media screen and (min-width: 560px){
	.slide9 .service-way p{
		padding: 20px 0;
	}
	.slide9 .askFormBox h1{
		margin-top: 10%;
	}
}